/.config/fish/fish_variables
/.config/fish/fishfile
/.config/fish/fishd.*
/.config/fish/functions/*
/.config/fish/completions/*
/.config/fish/conf.d
/.config/fisher/*
/.config/configstore/*

/.config/gcloud/
/.config/pgcli/
/.config/hub
